{% extends "base.html" %} {% block content %} {% load static %}


<section class='content'>
    <section class='app_form'>
        <form action="/" method="POST">
            <input type"text" name = "name" placeholder="Name" required>
            <textarea name = "body" placeholder="Tell us anything" required></textarea>
            <input type="submit" value="Post" />
            {% csrf_token %}

        </form>
    </section>
    <section class='apps'>
        <ul>
            {% for app in app_1 %}
            <li>
                <img class="menu_icon js-menu-icon" src="{%static 'img/menu.png'%}" />
                <div class="menu">
                    <a href="/delete/{{app.id}}">delete</a>
                </div>

                <div class = "logo">

                    <img src="{% static 'img/user.png' %} "/>

                </div>
                <div class = "name_body">

                    <div class='name'> {{app.name}} </div>
                    <div class='datetime'> {{app.created_at}}</div>
                    <p>{{app.body}} </p>


                </div>
        </li>
        {% endfor %}
        <ul>
    </section>


</section>
<script src="{% static 'js/app.js' %}"></script>
{% endblock %}
